* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #596283;
}
body
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#calc {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: 90px 50px 200px;
  position: absolute;
  background-color: #00a4c8;
  border: 1px solid #333;
  border-radius: 4px;
  box-shadow: 2px 2px 12px 6px rgba(0, 0, 0, .25);
}
#sec1 {
  grid-column: 1/5;
}
#sec2 {
  grid-column: 1/5;
}
#sec3 {
  grid-column: 1/4;
}
#sec4 {
  grid-column: 4/5;
}
div > div {
  display: flex;
  flex-flow: row wrap;
}
div > div * {
  font-size: 18px;
  font-family: "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#sec1 input {
  flex: 1 1 100%;
  width: 100%;
}
#sec2 button {
  flex: 1 1 25%;
}
#sec3 button {
  flex: 1 1 33.3%;
}
#sec4 > button + button {
  height: 70%;
  order: -1;
}
#sec4 button {
  flex: 1 1 100%;
}
#sec1 {
  background-color: #333c7a;
}
#sec3 {
  background: linear-gradient(to top, #252c62, #363e78);
  background-blend-mode: hue;
}
#sec2 {
  background: linear-gradient(to top, #01a0c6, #0594ba);
  background-blend-mode: hue;
}
#sec4 {
  background: linear-gradient(to top, #ec2779, #ff529a);
  background-blend-mode: hue;
}
button {
  background-color: transparent;
  color: white;
  padding: 10px;
  outline: none;
  border: none;
}
input[type*="text"] {
  margin: px;
  font-size: 35px;
  padding: 0 15px;
  outline: none;
  border: none;
  color: #ff529a;
}
button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
button:active {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
